- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    /%p{ :class => "flash-error" }= flash[key].join("<br/>").html_safe
    %p{ :class => "flash-error" }= flash[key]

%div{:class => "container-fluid"}
  %h2.heading Book a new session with #{@tutor.account.name}

  Basic information 
  %br
  Subject: #{@subject.name}
  %br
  Tutor: #{@tutor.account.name}
  %br
  Remaining Balance: $#{@account.price_cents}
  %br
  Rate: $#{@tutor.price_cents}/hr
  %br
  %br
  %h4 Request a session on

  = form_tag subject_tutor_sessions_path do
    = label :session, :month, 'Month'
    = select :session, :month, ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

    = label :session, :day, 'Day'
    = select :session, :day, @days

    %br

    =label :session, :start_hour, 'From'
    =select :session, :start_hour, @hours
    =label :session, :colon, ':'
    =select :session, :start_minute, @minutes
    =select :session, :start_ampm, ['am','pm']

    %br
    =label :session, :to, 'For a duration of'

    =select :session, :hours, ['0', '1', '2']
    =label :session, :colon, 'hours'
    =select :session, :minutes, @minutes
    =label :session, :minutes, 'minutes'
    %br
    %br
    =submit_tag 'Book Changes', :class => 'btn btn-primary'

  %br
  =link_to "Go back", subject_tutor_reviews_path(@subject, @tutor)