%h3 Sessions for #{@student.name}

%table#sessions.table.table-striped.col-md-12
  %thead
    %tr
      %th Subject
      %th Tutor
      %th Rate
  %tbody
    - @sessions.each do |sessions|
      %tr
        %td= session.subject
        %td= session.tutor
        %td= session.rate
        %td= link_to "More about #{tutor.name}", tutor_path(session.tutor)

= link_to 'Find a new tutor', subjects_path