%h2 All Tutors

%table#tutors.table.table-striped.col-md-12
  %thead
    %tr
      %th Name
      %th Experience
      %th Rate
      %th Average Review
  %tbody
    - @tutors.each do |tutor|
      %tr
        %td= tutor.name
        %td= (tutor.experience.to_s + " years")
        %td= number_to_currency(tutor.rate)
        %td= tutor.average_rating
        %td= link_to "Reviews for #{tutor.name}", subject_tutor_reviews_path(@subject,tutor)

= link_to 'Add new tutor', new_subject_tutor_path
= link_to 'Back to subjects', subjects_path