%h2 All Tutors

%table#tutors.table.table-striped.col-md-12
  %thead
    %tr
      %th Name
      %th Subject
      %th Experience
      %th Rate
  %tbody
    - @tutors.each do |tutor|
      %tr
        %td= tutor.name
        %td= tutor.subject
        %td= tutor.experience
        %td= tutor.rate
        %td= link_to "More about #{tutor.name}", tutor_path(tutor)

= link_to 'Add new tutor', new_tutor_path