%h2 Register a new tutor for #{@subject.name}

= form_tag subject_tutors_path do

  = label :tutor, :name, 'Name'
  = text_field :tutor, 'name'

  = label :tutor, :experience, 'Experience'
  = text_field :tutor, 'experience'

  = label :tutor, :rate, 'Rate'
  = text_field :tutor, 'rate'

  = submit_tag 'Save Changes', :class => 'btn btn-primary'