%div{:class => "container-fluid"}
  %div{:class =>"row parent"}
    %img{:class => "photo", :src=>"/main_screen.png"}
  %div{:class =>"container logchild"}
    %div{:class=>"row"}
      - [:notice, :error, :success].each do |key|
        - unless flash[key].blank?
          %p{ :class => "flash-error" }= flash[key]
    %div{:class=>"row d-flex justify-content-center"}
      %div{:class=>"prompt"} Log In
    %div{:class=>"row d-flex justify-content-center"}
      = form_tag login_path do
        %div{:class=> "email"} Email
        %div{:class=> "email"}
          = text_field :account, 'email'
        %div{:class=> "email"} Password
        = password_field :account, 'password'
        %br
        %div{:class=>"submit row d-flex justify-content-center"}     
          = submit_tag 'Save Changes', :class => 'btn btn-primary'