%h2.heading All Subjects


%table#subjects.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.name
        %td= link_to "Tutors for #{subject.name}", subject_path(subject)
        - if session[:account_id]
          %td= link_to "Sign up to tutor #{subject.name}", edit_tutor_path(subject)

- if session[:account_id]
  = link_to 'Add new subject', new_subject_path
%br
- if session[:account_id]
  =link_to "Back to sessions", subject_tutor_sessions_path(1, 1)