=link_to "Logout", accounts_path
- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]
%h2 All Reviews for #{@tutor.name}

%table#reviews.table.table-striped.col-md-12
  %thead
    %tr
      %th Rating
      %th Comment
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.rating
        %td= review.comment

=link_to 'Sign up for a session', new_subject_tutor_session_path(@subject, @tutor)
= link_to 'Leave a review', new_subject_tutor_review_path
%br
= link_to 'Back to tutors', subject_path(@subject)