=link_to "Logout", edit_account_path(1)
%h2 Leave a review for #{@tutor.account.name}

= form_tag subject_tutor_reviews_path do

  = label :review, :name, 'Rating'
  = select :review, :rating, [1,2,3,4,5]

  = label :review, :experience, 'Comment'
  = text_field :review, 'comment'

  = submit_tag 'Save Changes', :class => 'btn btn-primary'

%br
=link_to "Go back", subject_tutor_reviews_path(@subject,@tutor)
