%h3 Tutors for #{@subject.name}

%table#tutors.table.table-striped.col-md-12
  %thead
    %tr
      %th Name
      %th Experience
      %th Rate
  %tbody
    - @tutors.each do |tutor|
      %tr
        %td= tutor.name
        %td= tutor.experience
        %td= tutor.rate
        %td= link_to "Tutors for #{subject.name}", tutor_path(subject)
        %td= link_to 'Edit', edit_tutor_path(@tutor)
        %td= button_to 'Delete', tutor_path(@tutor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= link_to 'Add a new tutor', new_subject_tutor_path
= link_to 'Back to subject list', subjects_path