<!DOCTYPE html>
<html>
<head>
  <title>AseCybertutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="navbar">
  <div id="left_bar">
    <%= link_to "CyberTutor", root_path, {id: 'home-link'} %>
  </div>
  <div id="right_top">
    
    <% if logged_in? %>
      <%= link_to "Logout", edit_account_path(1), {class: 'navbar-links'} %>
    <% else %>
      <%=link_to "Log In", login_path, {class: 'navbar-links'} %>
      <%=link_to "Sign Up", new_account_path, {class: 'navbar-links'} %>
    <% end %>
  </div>
  
  
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
