<!DOCTYPE html>
<html>
<head>
  <title>AseCybertutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div id="navbar">
      <div id="left_bar">
        <%= link_to "CyberTutor", root_path, {id: 'home-link'} %>
        <% if logged_in? %>
          <% if is_admin? %>
            <%= link_to "Admin", accounts_path, {class: "nav-link"} %>
          <% end %>
          <%= link_to "Account", account_path(@account), {class: "nav-link"} %>
          <% if is_reviewer? %>
              <%=link_to "Tutor Requests", tutor_requests_path, {class: 'nav-link'} %>
          <% end %>
        <% end %>
        
        <%= link_to "Subjects", subjects_path, {class: "nav-link"} %>
        <%= link_to "Tutors", tutors_path, {class: "nav-link"} %>
      </div>
      <div id="right_top">
        <% if logged_in? %>
          <% if has_notification? %>
            <%=link_to "#{notification_count}", subject_tutor_sessions_path(1,1), {class: 'notification_link'} %>
            <div class="notification"> New Notification </div>
          <% else %>
            <div class="notification"> No Notification </div>
          <% end %>
          <%= link_to "Logout", logout_account_path(1), {class: 'navbar-links'} %>
        <% else %>
          <%=link_to "Log In", login_path, {class: 'navbar-links'} %>
          <%=link_to "Sign Up", new_account_path, {class: 'navbar-links'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
  
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
