%div{:class => "container-fluid"}
  %div{:class =>"row"}
    %img{:class => "photo", :src=>"/main_screen.png"}
  %div{:class =>"container accchild"}
    %div{:class=>"row d-flex justify-content-center"}
      - [:notice, :error, :success].each do |key|
        - unless flash[key].blank?
          %p{ :class => "flash-error" }= flash[key]
    %div{:class=>"row d-flex justify-content-center"}
      %div{:class=>"prompt"} New Account

    %div{:class=>"row d-flex justify-content-center"}
      = form_tag accounts_path do

        %div{:class=> "email"} Name
        = text_field :account, 'name'
        %br
        %div{:class=> "email"} Email
        = text_field :account, 'email'
        %br
        %div{:class=> "email"} Password
        = password_field :account, 'password'
        %br
        %div{:class=>"submit row d-flex justify-content-center"}
          = submit_tag 'Save Changes', :class => 'btn btn-primary'